body{
  font-family: "Montserrat", sans-serif;
}


*{
  font-family: "Montserrat", sans-serif;
}

.card-container {
  background-color: #FFFFFF;
  border-radius: 5px;
  color: #333134;
  position: relative;
  width: 220px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-height: 300px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.custom-swiper .swiper-pagination-bullet {
  background-color: #D5D5D5;
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: #6CD6A9;
}

.Reviews-card {
  background-color: #6CD6A9;
  border-radius: 5px;
  color: white;
  position: relative;
  width: 220px;
  text-align: center;
  min-height: 300px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}